# Ignore uploads folder
uploads/

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore environment files
.env
.venv/
venv/
ENV/
env/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db
